<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <div class="title">请扫码登录</div>
    <img th:src="${qrcode}"/>
    <div id="state" style="display: none"></div>

    <script th:inline="javascript">
        const stateTag = document.getElementById('state')

        const subscribeUrl = [[${subscribeUrl}]]
        const source = new EventSource(subscribeUrl)
        source.onmessage = (ev) => {
            text = ev.data
            if (text == 'scan') {
                stateTag.innerText = '已扫码'
                stateTag.style.display = 'block'
            } else if (text.startsWith('login#')) {
                const cookie = text.substring(6)
                document.cookie = cookie
                window.location.href = [[${redirect}]]
                source.close()
            }
        }

        source.onopen = () => {
            console.log("开始订阅")
        }
    </script>
</div>

</body>
</html>